.block {
    /*fill: #e27d60;*/
    fill: #e8a87c;
}

.tile {
    fill: none;
    stroke: none;
    pointer-events: visible;
}

.gameBoardBackground {
    z-index: -100;
    fill: #fafafa;
    stroke: none;
}

.gameWon .gameBoardBackground, .gameWon .selected {
    fill: #85dcb0;
    transition: fill 3s;
    /*transition-timing-function: ease-in-out;*/
}

.finishMessagePixel {
    fill: #c38d9e;
}

.selected {
    fill: #c38d9e;
}

.highlighted {
    fill: #85dcb0;
}

/*svg {*/
/*    max-height: 600px;*/
/*}*/

.clueNumber {
    font-size: 0.8em;
}

.selectedClue {
    background-color: #85dcb0;
}

.secondaryClue {
    background-color: #85dcb0;
    opacity: 10%;
}

.guess {
    font-size: 1.8em;
}

.grid {
    stroke: #e27d60
}

text {
    cursor: default;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /*background: #888;*/
    background: #41b3ac;
    /*background: #e8a87c;*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*!* Track *!*/
/*::-webkit-scrollbar-track {*/
/*    background: #bfebd5;*/
/*}*/

/*!* Handle *!*/
/*::-webkit-scrollbar-thumb {*/
/*    background: #85dcb0;*/
/*    !*background: #e8a87c;*!*/
/*    !*background: #41b3ac;*!*/
/*}*/

/*!* Handle on hover *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*    background: #555;*/
/*}*/

